<!-- your html code here -->
<div class="container" id="galeria">
    
        <h1>Porfolio</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea accusamus quasi, beatae magnam unde architecto error neque dolorem .</p>
   
    <div class="row">
        <div class="col-4 ">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <h4 class="text-primary">Project Name</h4>
              <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea accusamus quasi, beatae magnam unde architecto error neque dolorem .</p>
            </div>
          </div>
        </div>

        <div class="col-4 ">
            <div class="card shadow-sm">
             <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>


            <div class="card-body">
              <h4 class="text-primary">Project Name</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

        <div class="col-4 ">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <h4 class="text-primary">Project Name</h4>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea accusamus quasi, beatae magnam unde architecto error neque dolorem .</p>
            </div>
          </div>
        </div>

    </div>
   

</div>